{% extends 'layout.html' %} {% block body %}
<div class="container">
  <br />
  <form action="#" method="POST" enctype="multipart/form-data">
    <div class="input-group">
      <input type="file" class="form-control" name="image_name" required />
      <input type="submit" value="TẢI LÊN" class="btn btn-outline-secondary" />
    </div>
  </form>
</div>

<style>
  .roi-img {
    width: auto;
    height: 100px;
    max-width: 100%;
    object-fit: contain;
    border: 1px solid #ddd;
    padding: 5px;
    background-color: #f8f9fa;
    display: block;
    margin: 0 auto;
  }
</style>

{% if upload %}
<div class="container">
  <br />
  <table>
    <tr>
      <td>
        <img
          class="rounded float-left img-fluid"
          src="/static/upload/{{upload_image}}"
          alt=""
        />
      </td>
      <td>
        <img
          class="rounded float-right img-fluid"
          src="/static/predict/{{upload_image}}"
          alt=""
        />
      </td>
    </tr>
  </table>
  <br />
  <table style="border: solid black; width: 100%" class="table table-bordered table-striped">
    <tr style="border: solid black" class="text-center">
      <th>ẢNH SAU KHI CẮT</th>
      <th>BIỂN SỐ:</th>
    </tr>
    <tr style="border: solid black">
      
      {# <img class="img-fluid" src="/static/roi/{{ upload_image }}" alt="" /> #}
        
      {% for roi_image, plate_text in roi_with_texts %}
        <tr> 
          <!-- Cột ảnh ROI -->
          <td>
            <img class="roi-img" class="text-center" src="/static/roi/{{ roi_image }}" alt="Ảnh {{ loop.index }}"/>
          </td>
          <!-- Cột biển số -->
          <td style="background-color: #c1dce0; vertical-align: middle;">
            <h5 class="text-center">{{ plate_text }}</h5>
          </td>
        </tr>
      {% endfor %}
      {#  #}
    </tr>
  </table>
</div>

{% endif %} {% endblock %}